* {
  font-family: "Patrick Hand", cursive;
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: "Patrick Hand", cursive;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
}

.search {
  display: flex;
  width: 400px;
  margin-bottom: 30px;
  justify-content: flex-start;

  &__input {
    text-decoration: none;
    margin: 0 10px 0 0;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 18px;
  }

  &__button {
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    background-color: darkmagenta;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
  }
}

.main__container {
  display: flex;
  width: 100%;
}

// Favs

.left-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin-right: 30px;
  background-color: lightgray;
  border-radius: 10px;
}

.favs__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  width: 50%;
}

.favs__list {
  padding-inline-start: 0px;
  width: 100%;
}

.favs__title {
  width: 300px;
  font-size: 28px;
}

.fav__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  color: white;
  background-color: darkmagenta;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.fav__img {
  width: 100px;
  padding-bottom: 20px;
}

.fav__title {
  font-size: 28px;
}

.fav__close {
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

// Shows

.right-col {
  width: 50%;
  margin-right: 30px;
  background-color: lightgray;
  border-radius: 10px;
}

.shows__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  width: 50%;
}

.shows__title {
  width: 300px;
  font-size: 28px;
}

.show__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  font-size: 16px;

  &__title {
    font-size: 18px;
  }

  &__fav {
    background-color: purple;
    color: white;
  }
}

.reset__btn {
  width: 100px;
  height: 30px;
  background-color: purple;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.fav__close {
  border: none;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  background-color: pink;
}

.fa-trash {
  font-size: 25px;
  padding-left: 20px;
}
